$color_1: #555;
$color_2: #fff;
$background-color_1: #fff;
$background-color_2: transparent;
$background-color_3: #286090;


.mainHeadingEdit {
  text-align: center;
  margin-top: 120px;
}

.createForm{
  height: 111vh;
}

.editForm {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color_1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: $color_1;
    background-color: $background-color_2;
    transition: border-color 0.3s;
  }

  input[type="submit"] {
    &:hover {
      background-color: $background-color_3;
    }
  }
}

.textareaEdit {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: $color_1;
  background-color: $background-color_2;
  transition: border-color 0.3s;
}

.buttons {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  color: $color_2;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rght {
  float: right;
}

.btnDangerEdit {
  margin-right: 0.8em;
}