$background-color_1: #f2f2f2;
$background-color_2: #0d6efd;
$background-color_3: #0b5ed7;


/* Main section styles */
.mainHeadingLogin {
  text-align: center;
  margin-top: 0;
}

.formPassword{
  margin-bottom: 0.8rem;
}

.formCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.formLogin {
  background-color: $background-color_1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;

  input[type="text"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 100%;
  }

  input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 100%;
  }

  button {
    background-color: $background-color_2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $background-color_3;
    }
  }

  .register {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .forget {
    display: block;

    margin-bottom: 10px;
    text-align: right;
  }
}