$background-color_1: #1c2331;
$background-color_2: #374c70;
$border-color_1: #1c2331;
$border-color_2: #374c70;

@import "default";

/* Main content styles */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: $background-color_1;
  border-color: $border-color_1;

  &:hover {
    background-color: $background-color_2;
    border-color: $border-color_2;
  }
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 1.5rem;
  }
}
