@import "default";

/* Main section styles */

.edit {
  float: right;
}

.edit-buttons {
  text-align: right;
  margin-top: 30px;

}

.edit-btn {
  display: inline;

}

.seat_number {
  float: right;
  margin-left: 2em;
}
